.question-container {
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.question__container--options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  /* grid-template-rows: 10px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.question-option {
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  border: 2px solid #d6dbf5;
  border-radius: 15px;
  cursor: pointer;
  /* margin: 10px 2px 5px 40px; */
}

.question-ruler {
  width: 720px;
  border: none;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
}

/* .question-ruler {
  border: none;
  height: 2px;
  background-color: #dbdef0;
} */
